h1 {
  padding: 0;
  margin: 0;
}

html {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 0px;
}

header, section, footer, #main_info {
  font-family: Arial;
  font-size: 13px;
  margin: 5px auto;
  position: relative;
  width: 970px;
  color: #111;
}

header {
  background: none repeat scroll 0 0 #666;
  border: 1px solid #999;
  color: #787878;
}

header h1 {
  color: #464646;
  text-shadow: 1px 1px #000, -1px -1px #999;
  font-size: 1.5em;
}

#main_info {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #E8E8E8;
  color: #787878;
}

#main_info div, #main_info p{
  margin: 5px;
}

section {
  background: none repeat scroll 0 0 #F5F5F5;
  border: 1px solid #E8E8E8;
  color: #787878;
}

section div {
  margin: 5px;
}

/* Footer */
footer {
  text-align: center;
  margin: 10px auto;
}

/* Navigation */
nav {
  float: none;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a {
  color: #999;
}

nav ul li a:visited {
  color: #444;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
/**
 * Page elements
 */
div#debug {
  text-align: left;  
}

div.status_menu_element {
  width: 32%;
  margin: 0;
  float: left;
  border: 1px dotted #ccc;
}

.bold { font-weight: bolder; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
  
