
<div id="main_info">
  <table>
    <tr>
      <td>Current Difficulty:</td>
      <td><%= current_difficulty %></td>
    </tr>
    <tr>
      <td>Pool shares:</td>
      <td><%= total_shares %></td>
    </tr>
    <tr>
      <td>Pool power:</td>
      <td>
      <% ["minute","hour","day"].each do |unit| -%>
        <%= shares_per(unit).to_s + " shares/ " + unit %><br />
      <%- end %>
      </td>
    </tr>
    <tr>
      <td><%= hashes_per_second %> hash/s</td>
    </tr>
  </table>
</div>

<div id="main_welcome">
  <h1>Darkcoinpool</h1>
</div>





