<% content_for :javascript do %>

<script>
   $(window).load(function(){
   });
</script>
<% end %>


<% content_for :title do %>Welcome @ darkcoinpool v.0.1<% end %>


<div id="main_welcome >
  <h2>welcome ...</h1>
</div>





