<% content_for :title do %>Welcome @ darkcoinpool v.0.1<% end %>

<%= content_for :javascript do %>
  <script>
    function updateHash() {
      jQuery('#hash_per_second').load('/statistic/hash_per_second');        
    }

    $(function() {
      // Handler for .ready() called.
      setInterval(updateHash, 1000); // 5 * 1000 miliseconds

      });
  </script>
<% end %>

<div id="main_welcome">
  <h2>welcome ...</h1>
</div>





